!!! 5
%html
  %head
    %title= "Project"
    %meta{ :charset => "utf-8" }
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %link{ :rel => "stylesheet", :href => "lib/css/style.css" }
    / FlexSlider
    %link{ :rel => "stylesheet", :href => "lib/css/flexslider.css" }
    %link{ :rel => "shortcut icon", :href => "favicon.ico" }
    /[if lt IE 9]
      %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    /[if !IE 7]
      :css
        #wrap {display:table;height:100%}
  %body
    %a{ :id => "top" }
    %div{ :id => "wrap" }
      %header{ :id => "primary-header" }
        %div{ :class => "search" }
          %input{ :type => "search", :placeholder => "What are you looking for?" }
          %button Search
        %button{ :class => "search-toggle" }
          %i{ :class => "icon-search" }
        %a{ :href => "#", :id => "brand" }
          %hgroup
            %h1 developer
            %h3 a blog about web development
        %nav{ :id => "menu" }
          %ul
            %li
              %a{ :href => "#" }
                home
