footer#primary-footer
  background: url($darkgraynoise)
  color: #999
  border-top: 5px solid #d5d5d5
  +box-shadow(inset 0px 0px 25px rgba(0,0,0,.45))
  +clearfix
  z-index: 0
  h4
    color: #eee
    font-weight: 700
    font-size: 12px
    padding-bottom: 10px
  a
    color: #eee

div#footer-widgets
  padding: 30px 20px
  +clearfix
  +media($tablet)
    padding: 40px 80px
  +media($tablet2)
    padding: 40px 140px
.footer-widget
  text-align: center
  margin: 30px 0
  +media($tablet)
    margin: 20px 0
.textwidget

#atop
  color: #515151 !important
  text-align: center
  display: block
  padding: 10px
  z-index: 999
  position: relative
  font-size: 16px
  margin-top: -13px
  text-shadow: 1px 1px 0px #fff