#primary-header
  background: url($darkgraynoise)
  text-align: center
  color: #ddd
  +box-shadow(0px 0px 15px rgba(0,0,0,.25))
  margin: 0 0 $mobilegutter 0
  +media($tablet)
    margin: 0 0 20px 0
  +media($tablet2)
    margin: 0 0 40px 0


#brand
  color: #ddd
  &:hover, &:active
    color: #fff
  hgroup
    padding: 30px 0
    margin: 0 10px
    +media($tablet)
      padding: 50px 0
    h1
      font-size: 24px
      font-weight: 300
      line-height: 22px
      margin: 0 0 5px 0
    h3
      font-size: 12px
      font-weight: 300
      letter-spacing: 1px
      color: #aaa

#menu
  display: none
  padding-bottom: 0
  +media($tablet2)
  display: inline
  ul
    text-align: center
    margin: 0 20px 20px 20px
    +box-shadow(0px 0px 15px rgba(0,0,0,.25))
    +media($tablet)
      margin: -20px 240px 40px 240px
    +media($tablet2)
      //margin: -20px 340px 40px 340px
      text-align: left
      margin: 0
    li
      border-bottom: 1px solid #222
      a
        padding: 8px 14px
        color: #999
        font-weight: 400
        font-size: 14px
        font-family: $body-font-family
        background: #262626
        display: block
        +transition(all .5s)
        +media($tablet2)
          padding: 10px 14px
        &.current, &:hover, &:active
          background: #151515
          color: #eee

.search
  display: none
  padding: 6px 0
  font-size: 12px
  background: #fff
  //border-bottom: 4px solid #222
  +clearfix
  input
    border: 0
    width: 70%
    border-radius: 0
    background: #fff
    padding: 10px 15px
    float: left
  button
    background: #333
    border: 0
    border-left: 10px solid #fff
    color: #eee
    width: 30%
    padding: 10px 14px
    float: right